/scripts/archives/
/ecrire/
/prive/
/squelettes-dist/
/plugins/
/extensions/
/config/
/IMG/
/javascript/
/lib/
/spip.php
/CHANGELOG.txt
/svn.revision
/Thumbs.db
/.htaccess
/COPYING.txt
/htaccess.txt
/rien.gif
/spip_loader.php
/index.php
/scripts/test/
/squelettes/archives/